// Variables
//

$urlDossierFont: 			'../fonts' !default;

// COULEURS ------------------------------------------------------------------------------------------------------------------
$blanc:                     #fff    !default;
$noir:                      #000    !default;

$gris:                      #161412 !default;
$gris-clair:                #727272 !default;
$vert:                      #798972 !default;
$rouge:                     #BA6741 !default;

$jaune:                     #c4af0e !default;

$valid:                     #96c85e !default;
$invalid:                   #eb6467 !default;

$couleur1: $vert;
$couleur2: $rouge;


// APPLICATION DES COULEURS
$body-bg:                   $blanc !default;
$body-color:                $gris !default;
$couleur-texte:             $gris;


// TYPO ------------------------------------------------------------------------------------------------------------------
$font-family-base: 'AvantGarde', Arial, Helvetica, sans-serif !default;
$font-family-secondaire: 'Bebas', $font-family-base;

// Valeur en pixel pour s'adapter au responsive. Appliqué à l'élément <html>.
$font-size-root: 10px !default;
$font-size-base: 1.6rem !default;
$line-height-base: 1.3 !default;


// GRILLE ------------------------------------------------------------------------------------------------------------------

$grid-columns: 12 !default;
$grid-gutter-width: 24px !default;
$width-container: 1200px !default;

$max-breakpoint-mobile: 991px;
$min-breakpoint-mobile: 992px;
$min-breakpoint-tablet: 768px;
$min-breakpoint-desktop: 1200px;
