body {
    background: #fff !important;
}

#login h1 a { 
	background: url("images/logo-burocean.jpg") no-repeat top center !important;
	width: 320px;
	height: 100px;
}

.login form{
	background: #17122d !important;
	color: #fff !important;
}

.login label{
	color: #fff;
}

.login input[type="text"], .login input[type="password"]{
	background: #fff !important;
	font-size: 16px !important;
	height: 40px !important;
}

.login #wp-submit{
	background: 0 none;
	border: #fff solid 1px;
	box-shadow: none;
	text-shadow: none;
}